#root {

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 200px;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(151.08deg, #FFFFFF 20.71%, #183BA3 66.01%),
    url("") no-repeat center center/cover;
  background-blend-mode: lighten;
  padding: 10px;
}

.left-section {
  color: white;
  max-width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
  text-align: left;
  gap: 200px;
}

.left-section img {
  max-width: 200px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.left-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.left-section span {
  color: #ffcb00;
  font-weight: bold;
}



.right-section {
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 12px;
  width: 380px;
  text-align: center;
  color: white;
}

.styled-input {
  margin-bottom: 15px;
  height: 45px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: black;
}

.styled-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.styled-button {
  width: 100%;
  height: 45px;
  background: white;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.styled-button:hover {
  background: #24389d;
  color: white;
}

.ball {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  filter: blur(5px);
}

.top-right {
  width: 120px;
  height: 120px;
  top: 10px;
  right: 50px;
}

.bottom-left {
  width: 180px;
  height: 180px;
  bottom: 40px;
  left: 30px;
}

.error-message {
  color: #ff4d4f;
  font-size: 14px;
}

.error-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 5px;
}



@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px;
  }

  .left-section {
    max-width: 100%;
    height: auto;
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .left-section {
    /* height: 0px; */

  }


  .right-section {
    width: 100%;
    max-width: 90%;
    padding: 20px;
  }

  .left-section img {
    max-width: 200px;
    margin-bottom: 20px;
    align-self: flex-start;
  }

  .title1 {
    display: none;
  }
}

.cancel-button {
  all: unset;
  color: black;
  cursor: pointer;
  border: none;
}

.cancel-button:hover,
.cancel-button:focus,
.cancel-button:active {
  background: none !important;
  color: black !important;
  border: none !important;
  outline: none !important;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}